[submodule "ESP32MQTTConnector/components/cpp-esp-wifi"]
	path = ESP32MQTTConnector/components/cpp-esp-wifi
	url = https://github.com/MAPL-UFU/cpp-esp-wifi
[submodule "ESP32MQTTConnector/components/cpp-esp-serial"]
	path = ESP32MQTTConnector/components/cpp-esp-serial
	url = https://github.com/MAPL-UFU/cpp-esp-serial
[submodule "ESP32MQTTConnector/components/cpp-esp-mqtt"]
	path = ESP32MQTTConnector/components/cpp-esp-mqtt
	url = https://github.com/MAPL-UFU/cpp-esp-mqtt
[submodule "ESP32MQTTConnector/components/cpp-esp-e-handler"]
	path = ESP32MQTTConnector/components/cpp-esp-e-handler
	url = https://github.com/MAPL-UFU/cpp-esp-e-handler
[submodule "Solution1-Simple_Cylinder_Control/components/cpp-esp-wifi"]
	path = Solution1-Simple_Cylinder_Control/components/cpp-esp-wifi
	url = https://github.com/MAPL-UFU/cpp-esp-wifi
[submodule "Solution1-Simple_Cylinder_Control/components/cpp-esp-mqtt"]
	path = Solution1-Simple_Cylinder_Control/components/cpp-esp-mqtt
	url = https://github.com/MAPL-UFU/cpp-esp-mqtt
[submodule "Solution1-Simple_Cylinder_Control/components/cpp-esp-e-handler"]
	path = Solution1-Simple_Cylinder_Control/components/cpp-esp-e-handler
	url = https://github.com/MAPL-UFU/cpp-esp-e-handler
